**[Assignment Question Link](https://docs.google.com/document/d/1RjQBjq90BeqNuon_JUlrih7Tnda732cs/edit)**

Q.1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

**Answer**:<br>

'hello' is a string value <br>
-87.8   is a number value (float) <br>
  6     is an number value (int/integer) <br>


Mathematical Operators<br>

' * ' (multiplication) <br>
' - ' (substraction)<br>
' + ' (addition)<br>
' /  '(division)<br>

**Q.2. What is the difference between string and variable?**

In [1]:
# Solution-
'''
String- A string is a data structure in Python that represents a sequence of characters. It is an immutable data type,
it means after creating a string we can not change it. Strings are mainly enclosed in single quote ('') or double quotes ("").
'''
#Example below:

print("Hello Ineuron, this is an example of string")

'''Variable - Variable is used as a storage location in a program's memory that can hold different values.
              Variables can hold different types of data like strings, numbers, and more.
              '''

a="ineuron"
b=1
print(a, "is number", b)

#Here a and b are variables that contains the string value 'ineuron' and a numeric value 1

Hello Ineuron, this is an example of string
ineuron is number 1

**Q3. Describe three different data types.**

**Data Types in Python**

1.Numeric Datatypes<br>

  <li><strong>Integers:</strong> Whole numbers without decimal points. Example: <code>45</code></li>
  <li><strong>Floats:</strong> Numbers with decimal points. Example: <code>8.19</code></li>
  <li><strong>Complex Numbers:</strong>Represented in the form of â€œa + bi'. Complex Numbers Example: <code>2i</code></li>

2.Text Datatypes<br>

<ul>
  <li><strong>Strings:</strong> Sequences of characters. Example: <code>"Hello, Sayantan"</code></li>
3.Sequence Datatypes <br>
<ul>
  <li><strong>Lists:</strong> Ordered collections of items. Example: <code>[1, 2, 3, 4]</code></li>
  <li><strong>Tuples:</strong> Ordered, immutable collections of items. Example: <code>(1, 2, 3)</code></li>
4. Mapping Datatype
  <li><strong>Dictionaries:</strong> Key-value pairs. Example: <code>{"name": "Cris", "age": 23}</code></li>
</ul>

</body>
</html>

**Q.4. What is an expression made up of? What do all expressions do?**

**Ans:** An expression is a combination of operators, constants and variables. They are combined in a way to produce new value. Expressions can be simple, like a single value or variable, or complex, involving multiple components and operations<br>
Example- Arithmetic Expression, Constant Expression, Logical Expression, Floating Expression, Bitwise Expression etc.

In [7]:
# Example

#Arithmetic Expression
a = 27
b = 3

add = a + b
sub = a - b
product = a * b
div= a / b

print("sum of a and b is: ", add)
print(" difference between a and b is: ", sub)
print("The product of a and b is: ", product)
print("The division of a and b is: ", div)

print("------------------------------------------------------------------------------------------------")

#FLoating Expression

x = 10      # integer num
y = 7.0     # floating number

# we need to convert the integer number into a floating-point number or vice versa for summation.
result = float(x) + y

print(" sum of x and y is: ", result)

print("------------------------------------------------------------------------------------------------")

#Logical Expression

c= (7 > 5)
print(c)

print("------------------------------------------------------------------------------------------------")

#Constant Expression

p=6
q=7

print("sum of p and q is", p+q)

sum of a and b is:  30
 difference between a and b is:  24
The product of a and b is:  81
The division of a and b is:  9.0
------------------------------------------------------------------------------------------------
 sum of x and y is:  17.0
------------------------------------------------------------------------------------------------
True
------------------------------------------------------------------------------------------------
sum of p and q is 13

**Q.5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**



1.   A **statement** in Python is used for creating variables or for displaying values. The **expression** in Python is used to produce some value or result after being interpreted by the Python interpreter.
2.   A **statement** can not be assigned to variables. A **expression** can be assigned to variables

1.   Example of Statement- a=15<br>
     Example of expression: a=a+20 <br>
     **Input** = print(a)<br>
     **Output** = 35

**Q.6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1**

In [11]:
bacon = 22
bacon + 1

print("The value of bacon will be", bacon)

# The value of bacon will be still 22, as the value after (bacon +1) is not have been assigned to bacon so the value of bacon will remain unchanged.

The value of bacon will be 22

**Q.7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3**

In [14]:
'spam' + 'spamspam'

# It Results as 'spamspamspam' . It concatenates 2 strings 'spam' and 'spamspam' which results as 'spamspamspam'

'spamspamspam'

In [16]:
'spam' * 3

#repeats spam string thrice and result output as 'spamspamspam'

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

100 cannot be a variable name as it is against the rules for naming a variable in python.Variable names cannot start with a digit (0-9). <br>
As a variable name can start with any alphabets (a-z)/(A-Z) so egg is valid, and 100 is not

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Answer:-**<br> To get an integer/ convert into integer , we use **int()** function<br>
To get an float point number , we use **float()** function<br>
To get an string value, we use **str()** function<br>

In [11]:
#Int() function

num=10.84
print(type(num))
print("-------------")
num=int(num)
print("after coverting into float", type(num))
print("--------------------------------------------")

#Float() function

num1=8.67
print(type(num1))
print("-------------")
num1=int(num1)
print("after coverting into integer", type(num1))

print("--------------------------------------------")

print(num)
print(type(num))
print("-------------")
num2 = str(num)
print("after converting it into a string ",type(num2))

<class 'float'>
-------------
after coverting into float <class 'int'>
--------------------------------------------
<class 'float'>
-------------
after coverting into integer <class 'int'>
--------------------------------------------
10
<class 'int'>
-------------
after converting it into a string  <class 'str'>

**10. Why does this expression cause an error? How can you fix it?<br>
'I have eaten ' + 99 + ' burritos.'**

Here the code is trying to concatenate two string with a numeric value which is not possible.<br>
We can nott directly concatenate different data types without explicitly converting them. So this is the error.
<br>
To fix this error we have to transform / convert 99 into a string value. We will use **str()** function for it.

In [24]:
'I have eaten ' + str(99) + ' burritos.'

# We converted 99 into a string value by using str() function.

'I have eaten 99 burritos.'

In [23]:
print(type(str(99)))  # String

<class 'str'>